In [19]:
!pip install pymongo

Requirement already satisfied: pymongo in ./anaconda3/envs/BigData_Nawang/lib/python3.13/site-packages (4.15.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in ./anaconda3/envs/BigData_Nawang/lib/python3.13/site-packages (from pymongo) (2.8.0)

In [20]:
!pip install pandas

Requirement already satisfied: pandas in ./anaconda3/envs/BigData_Nawang/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in ./anaconda3/envs/BigData_Nawang/lib/python3.13/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./anaconda3/envs/BigData_Nawang/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/envs/BigData_Nawang/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./anaconda3/envs/BigData_Nawang/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./anaconda3/envs/BigData_Nawang/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [21]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [22]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Contoh Query Data
for employee in collection.find():
    print(employee)

Data inserted
{'_id': ObjectId('6902e556877189fbc679a079'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902e697877189fbc679a07a'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902e717877189fbc679a07b'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5500}
{'_id': ObjectId('6902e717877189fbc679a07d'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e717877189fbc679a07e'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902e7a5877189fbc679a07f'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('6902e7a5877189fbc679a081'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e7a5877189fbc679a082'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902e7c4877189fbc679a083'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('6902e7c4877189fbc679a085'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e7c4877189fbc679a086'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902e844877189fbc679a088'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902e844877189fbc679a089'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('6902e844877189fbc679a08b'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e844877189fbc679a08c'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902e88d877189fbc679a08e'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902e88d877189fbc679a08f'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('6902e88d877189fbc679a091'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e88d877189fbc679a092'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902e8c7877189fbc679a094'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902e8c7877189fbc679a095'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('6902e8c7877189fbc679a096'), 'name': 'Charlie', 'department': 'HR', 'age': 27, 'salary': 4100}
{'_id': ObjectId('6902e8c7877189fbc679a097'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e8c7877189fbc679a098'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902ec00877189fbc679a0ba'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

In [23]:
# Tugas 2
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data 1 inserted (Alice)')

# Insert beberapa data tambahan
employees_bulk = [
    {'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200},
    {'name': 'Charlie', 'department': 'HR', 'age': 27, 'salary': 4100},
    {'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000},
    {'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
]
collection.insert_many(employees_bulk)
print('Data tambahan berhasil ditambahkan\n')

# Update Data
collection.update_one({'name': 'Bob'}, {'$set': {'salary': 5500}})
print('Data Bob berhasil diupdate\n')

# Delete Data
collection.delete_one({'name': 'Charlie'})
print('Data Charlie berhasil dihapus\n')

# Tampilkan Semua Data Setelah Perubahan
print('\nData Karyawan Saat Ini')
for employee in collection.find():
    print(employee)

Data 1 inserted (Alice)
Data tambahan berhasil ditambahkan

Data Bob berhasil diupdate

Data Charlie berhasil dihapus


Data Karyawan Saat Ini
{'_id': ObjectId('6902e556877189fbc679a079'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902e697877189fbc679a07a'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902e717877189fbc679a07b'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5500}
{'_id': ObjectId('6902e717877189fbc679a07d'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e717877189fbc679a07e'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902e7a5877189fbc679a07f'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('6902e7a5877189fbc679a081'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e7a5877189fbc679a082'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902e7c4877189fbc679a083'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('6902e7c4877189fbc679a085'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e7c4877189fbc679a086'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902e844877189fbc679a088'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902e844877189fbc679a089'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('6902e844877189fbc679a08b'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e844877189fbc679a08c'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902e88d877189fbc679a08e'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902e88d877189fbc679a08f'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('6902e88d877189fbc679a091'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e88d877189fbc679a092'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902e8c7877189fbc679a094'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902e8c7877189fbc679a095'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('6902e8c7877189fbc679a097'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902e8c7877189fbc679a098'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}
{'_id': ObjectId('6902ec00877189fbc679a0ba'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902ec00877189fbc679a0bc'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902ec00877189fbc679a0bd'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('6902ec00877189fbc679a0be'), 'name': 'Charlie', 'department': 'HR', 'age': 27, 'salary': 4100}
{'_id': ObjectId('6902ec00877189fbc679a0bf'), 'name': 'Diana', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('6902ec00877189fbc679a0c0'), 'name': 'Evan', 'department': 'Marketing', 'age': 30, 'salary': 4800}

In [24]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'HR', 'average_salary': 4100.0}
{'_id': 'Marketing', 'average_salary': 4800.0}
{'_id': 'Finance', 'average_salary': 5250.0}
{'_id': 'IT', 'average_salary': 5242.857142857143}

In [25]:
# Tugas 3
from pymongo import MongoClient
import pandas as pd

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Pipeline Aggregation
pipeline = [
    {
        '$group': {
            '_id': '$department',                 
            'average_salary': {'$avg': '$salary'} 
        }
    },
    {
        '$sort': {'average_salary': -1}  
    }
]

# Jalankan aggregation
results = list(collection.aggregate(pipeline))

# Tampilkan hasil
print("Rata-rata Gaji per Departemen")
for result in results:
    print(f"Departemen: {result['_id']}, Rata-rata Gaji: {round(result['average_salary'], 2)}")

# tampilkan dalam bentuk tabel
df = pd.DataFrame(results)
df.rename(columns={'_id': 'Department', 'average_salary': 'Average Salary'}, inplace=True)
print("\nTabel Hasil:")
display(df)

Rata-rata Gaji per Departemen
Departemen: Finance, Rata-rata Gaji: 5250.0
Departemen: IT, Rata-rata Gaji: 5242.86
Departemen: Marketing, Rata-rata Gaji: 4800.0
Departemen: HR, Rata-rata Gaji: 4100.0

Tabel Hasil:

  Department  Average Salary
0    Finance     5250.000000
1         IT     5242.857143
2  Marketing     4800.000000
3         HR     4100.000000

In [26]:
# Latihan 4
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']

In [27]:
# Latihan 4.1
products = db['products']

product_data = [
    {'name': 'Laptop MSI Thin', 'category': 'Electronics', 'price': 12000000},
    {'name': 'Keyboard Mechanical', 'category': 'Electronics', 'price': 750000},
    {'name': 'Mouse Wireless', 'category': 'Electronics', 'price': 250000},
    {'name': 'Tumbler Stainless', 'category': 'Home', 'price': 90000},
    {'name': 'Lampu Meja', 'category': 'Home', 'price': 150000},
    {'name': 'Notebook A5', 'category': 'Stationery', 'price': 25000},
    {'name': 'Pulpen Hitam', 'category': 'Stationery', 'price': 5000},
    {'name': 'Headset Bluetooth', 'category': 'Electronics', 'price': 350000},
    {'name': 'Tas Laptop', 'category': 'Accessories', 'price': 200000},
    {'name': 'Buku Planner', 'category': 'Stationery', 'price': 40000},
]

products.insert_many(product_data)
print("Data produk berhasil dimasukkan.")

for product in products.find():
    print(f"Nama: {product['name']}, Kategori: {product['category']}, Harga: {product['price']}")

Data produk berhasil dimasukkan.
Nama: Laptop MSI Thin, Kategori: Electronics, Harga: 12000000
Nama: Keyboard Mechanical, Kategori: Electronics, Harga: 750000
Nama: Mouse Wireless, Kategori: Electronics, Harga: 250000
Nama: Tumbler Stainless, Kategori: Home, Harga: 90000
Nama: Lampu Meja, Kategori: Home, Harga: 150000
Nama: Notebook A5, Kategori: Stationery, Harga: 25000
Nama: Pulpen Hitam, Kategori: Stationery, Harga: 5000
Nama: Headset Bluetooth, Kategori: Electronics, Harga: 350000
Nama: Tas Laptop, Kategori: Accessories, Harga: 200000
Nama: Buku Planner, Kategori: Stationery, Harga: 40000
Nama: Laptop MSI Thin, Kategori: Electronics, Harga: 12000000
Nama: Keyboard Mechanical, Kategori: Electronics, Harga: 750000
Nama: Mouse Wireless, Kategori: Electronics, Harga: 250000
Nama: Tumbler Stainless, Kategori: Home, Harga: 90000
Nama: Lampu Meja, Kategori: Home, Harga: 150000
Nama: Notebook A5, Kategori: Stationery, Harga: 25000
Nama: Pulpen Hitam, Kategori: Stationery, Harga: 5000
Nama: Headset Bluetooth, Kategori: Electronics, Harga: 350000
Nama: Tas Laptop, Kategori: Accessories, Harga: 200000
Nama: Buku Planner, Kategori: Stationery, Harga: 40000
Nama: Laptop MSI Thin, Kategori: Electronics, Harga: 12000000
Nama: Keyboard Mechanical, Kategori: Electronics, Harga: 750000
Nama: Mouse Wireless, Kategori: Electronics, Harga: 250000
Nama: Tumbler Stainless, Kategori: Home, Harga: 90000
Nama: Lampu Meja, Kategori: Home, Harga: 150000
Nama: Notebook A5, Kategori: Stationery, Harga: 25000
Nama: Pulpen Hitam, Kategori: Stationery, Harga: 5000
Nama: Headset Bluetooth, Kategori: Electronics, Harga: 350000
Nama: Tas Laptop, Kategori: Accessories, Harga: 200000
Nama: Buku Planner, Kategori: Stationery, Harga: 40000
Nama: Laptop MSI Thin, Kategori: Electronics, Harga: 12000000
Nama: Keyboard Mechanical, Kategori: Electronics, Harga: 750000
Nama: Mouse Wireless, Kategori: Electronics, Harga: 250000
Nama: Tumbler Stainless, Kategori: Home, Harga: 90000
Nama: Lampu Meja, Kategori: Home, Harga: 150000
Nama: Notebook A5, Kategori: Stationery, Harga: 25000
Nama: Pulpen Hitam, Kategori: Stationery, Harga: 5000
Nama: Headset Bluetooth, Kategori: Electronics, Harga: 350000
Nama: Tas Laptop, Kategori: Accessories, Harga: 200000
Nama: Buku Planner, Kategori: Stationery, Harga: 40000

In [28]:
# Latihan 4.2
avg_price = list(products.aggregate([
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]))[0]['average_price']

print(f"Rata-rata harga produk: {avg_price:.2f}")

print("\nProduk dengan harga di atas rata-rata:")
for product in products.find({'price': {'$gt': avg_price}}):
    print(product)

Rata-rata harga produk: 1386000.00

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('6902eb22877189fbc679a09b'), 'name': 'Laptop MSI Thin', 'category': 'Electronics', 'price': 12000000}
{'_id': ObjectId('6902ebab877189fbc679a0a5'), 'name': 'Laptop MSI Thin', 'category': 'Electronics', 'price': 12000000}
{'_id': ObjectId('6902ebba877189fbc679a0af'), 'name': 'Laptop MSI Thin', 'category': 'Electronics', 'price': 12000000}
{'_id': ObjectId('6902ec00877189fbc679a0c3'), 'name': 'Laptop MSI Thin', 'category': 'Electronics', 'price': 12000000}

In [29]:
# Latihan 4.3
pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]

print("Total produk per kategori:")
for result in products.aggregate(pipeline):
    print(result)

Total produk per kategori:
{'_id': 'Stationery', 'total_products': 12}
{'_id': 'Electronics', 'total_products': 16}
{'_id': 'Home', 'total_products': 8}
{'_id': 'Accessories', 'total_products': 4}

In [31]:
# Latihan 5
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

collection.delete_many({})

employees_data = [
    {'name': 'Andi', 'department': 'IT', 'age': 30, 'salary': 8500},
    {'name': 'Budi', 'department': 'IT', 'age': 24, 'salary': 6000},
    {'name': 'Citra', 'department': 'IT', 'age': 29, 'salary': 9500},
    {'name': 'Dina', 'department': 'IT', 'age': 32, 'salary': 10000},
    {'name': 'Eka', 'department': 'IT', 'age': 27, 'salary': 7200},
    {'name': 'Fajar', 'department': 'HR', 'age': 26, 'salary': 6500},
    {'name': 'Gita', 'department': 'HR', 'age': 22, 'salary': 4000},
    {'name': 'Hadi', 'department': 'HR', 'age': 28, 'salary': 7000},
    {'name': 'Indra', 'department': 'Finance', 'age': 35, 'salary': 12000},
    {'name': 'Joko', 'department': 'Finance', 'age': 23, 'salary': 4500},
    {'name': 'Kiki', 'department': 'Finance', 'age': 29, 'salary': 9000},
    {'name': 'Lina', 'department': 'Finance', 'age': 31, 'salary': 11000},
    {'name': 'Mira', 'department': 'Marketing', 'age': 28, 'salary': 7000},
    {'name': 'Niko', 'department': 'Marketing', 'age': 24, 'salary': 5200},
    {'name': 'Oki', 'department': 'Marketing', 'age': 27, 'salary': 6800},
    {'name': 'Putri', 'department': 'Marketing', 'age': 26, 'salary': 7500},
]

collection.insert_many(employees_data)
print("Data karyawan berhasil dimasukkan.")

for emp in collection.find({}, {'_id': 0, 'name': 1, 'department': 1, 'age': 1, 'salary': 1}):
    print(f"Nama: {emp['name']}, Departemen: {emp['department']}, Umur: {emp['age']}, Gaji: {emp['salary']}")

Data karyawan berhasil dimasukkan.
Nama: Andi, Departemen: IT, Umur: 30, Gaji: 8500
Nama: Budi, Departemen: IT, Umur: 24, Gaji: 6000
Nama: Citra, Departemen: IT, Umur: 29, Gaji: 9500
Nama: Dina, Departemen: IT, Umur: 32, Gaji: 10000
Nama: Eka, Departemen: IT, Umur: 27, Gaji: 7200
Nama: Fajar, Departemen: HR, Umur: 26, Gaji: 6500
Nama: Gita, Departemen: HR, Umur: 22, Gaji: 4000
Nama: Hadi, Departemen: HR, Umur: 28, Gaji: 7000
Nama: Indra, Departemen: Finance, Umur: 35, Gaji: 12000
Nama: Joko, Departemen: Finance, Umur: 23, Gaji: 4500
Nama: Kiki, Departemen: Finance, Umur: 29, Gaji: 9000
Nama: Lina, Departemen: Finance, Umur: 31, Gaji: 11000
Nama: Mira, Departemen: Marketing, Umur: 28, Gaji: 7000
Nama: Niko, Departemen: Marketing, Umur: 24, Gaji: 5200
Nama: Oki, Departemen: Marketing, Umur: 27, Gaji: 6800
Nama: Putri, Departemen: Marketing, Umur: 26, Gaji: 7500

In [32]:
# Tugas 5.1
pipeline = [
    {'$sort': {'department': 1, 'salary': -1}}, 
    {'$group': {
        '_id': '$department',
        'top_employees': {'$push': {'name': '$name', 'salary': '$salary'}},
    }},
    {'$project': {
        'top_5': {'$slice': ['$top_employees', 5]} 
    }}
]

for dept in collection.aggregate(pipeline):
    print(f"\nDepartemen: {dept['_id']}")
    for emp in dept['top_5']:
        print(f"  {emp['name']} - Gaji: {emp['salary']}")

Departemen: HR
  Hadi - Gaji: 7000
  Fajar - Gaji: 6500
  Gita - Gaji: 4000

Departemen: Marketing
  Putri - Gaji: 7500
  Mira - Gaji: 7000
  Oki - Gaji: 6800
  Niko - Gaji: 5200

Departemen: IT
  Dina - Gaji: 10000
  Citra - Gaji: 9500
  Andi - Gaji: 8500
  Eka - Gaji: 7200
  Budi - Gaji: 6000

Departemen: Finance
  Indra - Gaji: 12000
  Lina - Gaji: 11000
  Kiki - Gaji: 9000
  Joko - Gaji: 4500

In [34]:
# Tugas 5.2
result = collection.delete_many({'age': {'$lt': 25}})
print(f"{result.deleted_count} karyawan dihapus (usia < 25).")

print("\nData karyawan setelah penghapusan:")
for emp in collection.find():
    print(emp)

0 karyawan dihapus (usia < 25).

Data karyawan setelah penghapusan:
{'_id': ObjectId('6902f011877189fbc679a0cf'), 'name': 'Andi', 'department': 'IT', 'age': 30, 'salary': 8500}
{'_id': ObjectId('6902f011877189fbc679a0d1'), 'name': 'Citra', 'department': 'IT', 'age': 29, 'salary': 9500}
{'_id': ObjectId('6902f011877189fbc679a0d2'), 'name': 'Dina', 'department': 'IT', 'age': 32, 'salary': 10000}
{'_id': ObjectId('6902f011877189fbc679a0d3'), 'name': 'Eka', 'department': 'IT', 'age': 27, 'salary': 7200}
{'_id': ObjectId('6902f011877189fbc679a0d4'), 'name': 'Fajar', 'department': 'HR', 'age': 26, 'salary': 6500}
{'_id': ObjectId('6902f011877189fbc679a0d6'), 'name': 'Hadi', 'department': 'HR', 'age': 28, 'salary': 7000}
{'_id': ObjectId('6902f011877189fbc679a0d7'), 'name': 'Indra', 'department': 'Finance', 'age': 35, 'salary': 12000}
{'_id': ObjectId('6902f011877189fbc679a0d9'), 'name': 'Kiki', 'department': 'Finance', 'age': 29, 'salary': 9000}
{'_id': ObjectId('6902f011877189fbc679a0da'), 'name': 'Lina', 'department': 'Finance', 'age': 31, 'salary': 11000}
{'_id': ObjectId('6902f011877189fbc679a0db'), 'name': 'Mira', 'department': 'Marketing', 'age': 28, 'salary': 7000}
{'_id': ObjectId('6902f011877189fbc679a0dd'), 'name': 'Oki', 'department': 'Marketing', 'age': 27, 'salary': 6800}
{'_id': ObjectId('6902f011877189fbc679a0de'), 'name': 'Putri', 'department': 'Marketing', 'age': 26, 'salary': 7500}

In [35]:
# Tugas 5.3
pipeline = [
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }}
]

print("\nLaporan Total Gaji dan Rata-rata Umur per Departemen:")
for result in collection.aggregate(pipeline):
    print(f"Departemen: {result['_id']}")
    print(f"  Total Gaji: {result['total_salary']}")
    print(f"  Rata-rata Umur: {round(result['average_age'], 2)}\n")

Laporan Total Gaji dan Rata-rata Umur per Departemen:
Departemen: Finance
  Total Gaji: 32000
  Rata-rata Umur: 31.67

Departemen: Marketing
  Total Gaji: 21300
  Rata-rata Umur: 27.0

Departemen: HR
  Total Gaji: 13500
  Rata-rata Umur: 27.0

Departemen: IT
  Total Gaji: 35200
  Rata-rata Umur: 29.5