<a href="https://colab.research.google.com/github/nawangriyanaputri/Praktikum-Big-Data/blob/main/Nawang_Riyana_Putri_2410506002_Pertemuan_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CONTOH

In [ ]:
# Contoh 1 membuat DataFrame sederhana dan operasi dasar
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
+------------+----------+------+

In [ ]:
# Contoh 2 operasi transformasi DataFrame
df.select('EmployeeName', 'Salary').show()
df.filter(df['Salary'] > 3000).show()
df.groupBy('Department').avg('Salary').show()

+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
+------------+------+

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3000.0|
+----------+-----------+

In [ ]:
# Contoh 3 manipulasi tipe data kompleks
df1 = df.withColumn("SalaryBonus", df["Salary"] * 0.1)
df1.withColumn("TotalCompensation", df1["Salary"] + df1["SalaryBonus"]).show()

+------------+----------+------+-----------+-----------------+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|
+------------+----------+------+-----------+-----------------+
|       James|     Sales|  3000|      300.0|           3300.0|
|     Michael|     Sales|  4600|      460.0|           5060.0|
|      Robert|     Sales|  4100|      410.0|           4510.0|
|       Maria|   Finance|  3000|      300.0|           3300.0|
+------------+----------+------+-----------+-----------------+

In [ ]:
# Contoh 4 menggunakan window functions
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Department').orderBy('Salary')
df.withColumn('Rank', F.rank().over(windowSpec)).show()

+------------+----------+------+----+
|EmployeeName|Department|Salary|Rank|
+------------+----------+------+----+
|       Maria|   Finance|  3000|   1|
|       James|     Sales|  3000|   1|
|      Robert|     Sales|  4100|   2|
|     Michael|     Sales|  4600|   3|
+------------+----------+------+----+

TUGAS

In [ ]:
#Tugas 1: Buat DataFrame sederhana di Spark dan eksplorasi beberapa fungsi dasar yang tersedia.
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()
df.show(2)
df.printSchema()
print("Kolom:", df.columns)

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
+------------+----------+------+

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
+------------+----------+------+
only showing top 2 rows

root
 |-- EmployeeName: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

Kolom: ['EmployeeName', 'Department', 'Salary']

In [ ]:
#Tugas 2: Gunakan operasi filter, select, groupBy untuk mengekstrak informasi dari data, serta
#lakukan agregasi data untuk mendapatkan insight tentang dataset menggunakan perintah seperti mean, max, sum.
df.select("EmployeeName", "Department").show()
df.filter(df["Salary"] > 3500).show()
df.groupBy('Department').mean("Salary").show()
df.groupBy('Department').max("Salary").show()
df.groupBy('Department').sum("Salary").show()

+------------+----------+
|EmployeeName|Department|
+------------+----------+
|       James|     Sales|
|     Michael|     Sales|
|      Robert|     Sales|
|       Maria|   Finance|
+------------+----------+

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3000.0|
+----------+-----------+

+----------+-----------+
|Department|max(Salary)|
+----------+-----------+
|     Sales|       4600|
|   Finance|       3000|
+----------+-----------+

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|     Sales|      11700|
|   Finance|       3000|
+----------+-----------+

In [ ]:
#Tugas 3: Eksplorasi bagaimana mengolah tipe data kompleks dalam Spark DataFrames.
df2 = df.withColumn('SalaryBonus', df['Salary'] * 0.1)
df2 = df2.withColumn('TotalCompensation', df2['Salary'] + df2['SalaryBonus'])
df2.show()

from pyspark.sql.functions import struct, array
df3 = df2.withColumn('Info', struct('EmployeeName', 'Department'))\
         .withColumn('Complist', array('Salary', 'SalaryBonus', 'TotalCompensation'))
df3.show(truncate=False)

+------------+----------+------+-----------+-----------------+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|
+------------+----------+------+-----------+-----------------+
|       James|     Sales|  3000|      300.0|           3300.0|
|     Michael|     Sales|  4600|      460.0|           5060.0|
|      Robert|     Sales|  4100|      410.0|           4510.0|
|       Maria|   Finance|  3000|      300.0|           3300.0|
+------------+----------+------+-----------+-----------------+

+------------+----------+------+-----------+-----------------+----------------+-----------------------+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|Info            |Complist               |
+------------+----------+------+-----------+-----------------+----------------+-----------------------+
|James       |Sales     |3000  |300.0      |3300.0           |{James, Sales}  |[3000.0, 300.0, 3300.0]|
|Michael     |Sales     |4600  |460.0      |5060.0           |{Michael, Sales}|[4600.0, 460.0, 5060.0]|
|Robert      |Sales     |4100  |410.0      |4510.0           |{Robert, Sales} |[4100.0, 410.0, 4510.0]|
|Maria       |Finance   |3000  |300.0      |3300.0           |{Maria, Finance}|[3000.0, 300.0, 3300.0]|
+------------+----------+------+-----------+-----------------+----------------+-----------------------+

In [ ]:
#Tugas 4: Implementasikan window function untuk menghitung running totals atau rangkings.
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Department').orderBy('Salary')
df_rank = df.withColumn('Rank', F.rank().over(windowSpec))
df_rank.show()

windowSpec2 = Window.partitionBy('Department').orderBy('Salary').rowsBetween(Window.unboundedPreceding, 0)
df_running = df.withColumn('RunningTotal', F.sum('Salary').over(windowSpec2))
df_running.show()

+------------+----------+------+----+
|EmployeeName|Department|Salary|Rank|
+------------+----------+------+----+
|       Maria|   Finance|  3000|   1|
|       James|     Sales|  3000|   1|
|      Robert|     Sales|  4100|   2|
|     Michael|     Sales|  4600|   3|
+------------+----------+------+----+

+------------+----------+------+------------+
|EmployeeName|Department|Salary|RunningTotal|
+------------+----------+------+------------+
|       Maria|   Finance|  3000|        3000|
|       James|     Sales|  3000|        3000|
|      Robert|     Sales|  4100|        7100|
|     Michael|     Sales|  4600|       11700|
+------------+----------+------+------------+

In [ ]:
# Tugas 5
!pip install pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder\
    .appName("StudentExamScores")\
    .getOrCreate()

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from google.colab import files
import zipfile

uploaded = files.upload()

with zipfile.ZipFile("archive.zip", "r") as zip_ref:
  zip_ref.extractall("dataset")

!ls dataset

Saving student_exam_scores.csv to student_exam_scores (4).csv
student_exam_scores.csv

In [ ]:
data = spark.read.csv("dataset/student_exam_scores.csv", header=True, inferSchema=True)
data.show(7)

+----------+-------------+-----------+------------------+---------------+----------+
|student_id|hours_studied|sleep_hours|attendance_percent|previous_scores|exam_score|
+----------+-------------+-----------+------------------+---------------+----------+
|      S001|          8.0|        8.8|              72.1|             45|      30.2|
|      S002|          1.3|        8.6|              60.7|             55|      25.0|
|      S003|          4.0|        8.2|              73.7|             86|      35.8|
|      S004|          3.5|        4.8|              95.1|             66|      34.0|
|      S005|          9.1|        6.4|              89.8|             71|      40.3|
|      S006|          8.4|        5.1|              58.5|             75|      35.7|
|      S007|         10.8|        6.0|              54.2|             88|      37.9|
+----------+-------------+-----------+------------------+---------------+----------+
only showing top 7 rows

In [ ]:
data.printSchema()

root
 |-- student_id: string (nullable = true)
 |-- hours_studied: double (nullable = true)
 |-- sleep_hours: double (nullable = true)
 |-- attendance_percent: double (nullable = true)
 |-- previous_scores: integer (nullable = true)
 |-- exam_score: double (nullable = true)

In [ ]:
data.groupBy("hours_studied").min("exam_score").show(3)

+-------------+---------------+
|hours_studied|min(exam_score)|
+-------------+---------------+
|          2.4|           29.9|
|          8.0|           30.2|
|         10.2|           37.8|
+-------------+---------------+
only showing top 3 rows

In [ ]:
data.filter(data['previous_scores'] > 75).show(4)

+----------+-------------+-----------+------------------+---------------+----------+
|student_id|hours_studied|sleep_hours|attendance_percent|previous_scores|exam_score|
+----------+-------------+-----------+------------------+---------------+----------+
|      S003|          4.0|        8.2|              73.7|             86|      35.8|
|      S007|         10.8|        6.0|              54.2|             88|      37.9|
|      S009|          5.6|        5.9|              81.6|             84|      34.7|
|      S011|          3.4|        5.3|              90.9|             81|      29.3|
+----------+-------------+-----------+------------------+---------------+----------+
only showing top 4 rows